**
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!scripts/
!scripts/**
!packaging/
!packaging/**
!LICENSE
!README.md
!README.en.md
!AGENTS.md
!MEMORY.md
!CONTRIBUTING.md
!SECURITY.md
!DOCS/
!DOCS/**
!experiments/
!experiments/qt/
!experiments/qt/README.md
**/__pycache__
**/*.pyc
